<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new contact query from <%= @contact.name %>!</p>
    <p>
    Query details<br>
    --------------------------
    </p>
    <p>Name: <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Message: <%= @contact.message %></p>
    <p>

    Please check the query from admin panel for more info.
  </body>
</html>