<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">A bit about UniHub</h1>
        <p class="lead text-muted mb-0">UniHub is a platform to help students make aspirational choices for their higher education. This platform 
          helps Pakistani students to get to know various universities and makes them aware of the yearly intakes 
          that are being offered by every university. Parents and students can also check the estimated course fee 
          they need to pay for the institute they wish to get admission in. UniHub is designed in such a way that it 
          can assist people in determining what the next step should be and provides guidance free of cost as they 
          pursue that step. It provides all kind of information, assistance, and guidance for enrollment procedures 
          without any consultation charges or any sort of application fee.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Academic Counseling</h2>
        <p class="font-italic text-muted mb-4">Our professional team  will take into account your educational history, hobbies, and strengths, as well as 
          current  market  trend,  before  recommending  the  best  available  pathways  that  are  customized  to  meet 
          your needs.
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Securing Admission</h2>
        <p class="font-italic text-muted mb-4">UniHub personally takes care of the application procedure and help the student in putting together the 
          appropriate collection of required documentation. In addition, we follow up with the institution in a timely 
          manner to guarantee that the admissions processing is completed quickly.
        </p>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Visa Guidance</h2>
        <p class="font-italic text-muted mb-4">UniHub continue consistent communication with the embassies, consulates, and other departments that 
          are of concern. As  a consequence of this, our counsellors are up to date on  all of the  most recent rules 
          and regulations. As a direct result of this, we have a very high success record with visa applications.
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class=" mb-4">
      <h2 class="display-4 font-weight-light">Mission & Vision</h2>
      <p class="font-italic text-muted">
        To  be  a  business  pioneer  in  Pakistan,  providing  higher  education  programs  to  students  while  assisting 
        them  in  reaching  their  goals  through professional career  counseling  without  any  additional charges.  To 
        provide experienced, thoughtful, and considerate solutions to students who are planning to study abroad, 
        and to do our best to accommodate students and their parents in achieving their goals.
      </p>
    </div>
    </div>
  </div>
</div>
