<p class="lead text-muted">Welcome <%= @email %>!</p>

<p class="lead text-muted">You can confirm your account email through the link below:</p>

<p class="lead text-muted"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
